* {
  box-sizing: border-box;
}

.container {
  padding: 30px;
  border: 1px dotted black;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  border: 1px dotted black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  border-radius: 5px;
  color: darkcyan;
}

.item.red {
  background-color: lightcoral;
  border: 9px double darkred;
  transform: translate(20px, -50px);
  transition: background-color 1s, color 1s;
  transition-timing-function: ease-in;
}

.item.red:hover {
  background-color: lightpink;
  color: black;
}

.item.green {
  background-color: lightgreen;
  border: 9px double darkgreen;
  /* transform: rotate(80deg); */
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0.1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.item.blue {
  background-color: lightblue;
  border: 9px double darkblue;
  scale: 2;
}

.item.yellow {
  background-color: lightyellow;
  border: 9px double darkorange;
  transform: skew(20deg, 10deg);
}

.section-title {
  position: sticky;
  top: 2px;
  background-color: palevioletred;
}
