@use '../utils/variables' as s;

/* Formats section */
.formats-section {
  &__title {
    margin-bottom: 80px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;

    @media screen and (min-width: s.$bp_tablet) {
      display: flex;
    }
  }

  // &__list {
  //   display: flex;
  //   gap: 20px;
  //   flex-wrap: wrap;
  // }

  // &__item {
  //   flex-basis: calc((100% - 40px) / 3);
  // }
}
